.vs/BankingSystem/FileContentIndex/7cfe3e8e-86f6-4cf5-9021-42c437275b11.vsidx
.vs/BankingSystem/FileContentIndex/030b7ba0-3494-4f8c-8e65-509c451c1e5b.vsidx
.vs/BankingSystem/FileContentIndex/49386e9f-aaec-42bb-b1dc-4bdf08f0a886.vsidx
.vs/BankingSystem/FileContentIndex/a5ec4a4c-4606-4e5f-8115-64f8496a5a56.vsidx
.vs/BankingSystem/FileContentIndex/d0bd5bb8-45f3-4639-87db-61824f7205dd.vsidx
.vs/BankingSystem/FileContentIndex/f10bbbe0-a393-4bc9-b938-cf52dd19e8c6.vsidx
.vs/BankingSystem/v17/.futdcache.v2
.vs/BankingSystem/v17/.suo
.vs/ProjectEvaluation/bankingsystem.metadata.v6.1
.vs/ProjectEvaluation/bankingsystem.projects.v6.1
.vs/BankingSystem/DesignTimeBuild/.dtbcache.v2
.vs/BankingSystem/FileContentIndex/030b7ba0-3494-4f8c-8e65-509c451c1e5b.vsidx
.vs/BankingSystem/FileContentIndex/49386e9f-aaec-42bb-b1dc-4bdf08f0a886.vsidx
.vs/BankingSystem/FileContentIndex/f10bbbe0-a393-4bc9-b938-cf52dd19e8c6.vsidx
.vs/BankingSystem/v17/.futdcache.v2
.vs/BankingSystem/v17/.suo
.vs/ProjectEvaluation/bankingsystem.metadata.v6.1
.vs/ProjectEvaluation/bankingsystem.projects.v6.1
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Api.dll
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Api.pdb
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Application.dll
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Application.pdb
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Contracts.dll
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Contracts.pdb
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Domain.dll
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Domain.pdb
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Infrastructure.dll
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Infrastructure.pdb
BankingSystem.Api/bin/Debug/net7.0/Newtonsoft.Json.Bson.dll
BankingSystem.Api/bin/Debug/net7.0/Newtonsoft.Json.dll
BankingSystem.Api/bin/Debug/net7.0/System.Net.Http.Formatting.dll
BankingSystem.Api/bin/Debug/net7.0/System.Web.Http.dll
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Api.dll
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Api.pdb
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Application.dll
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Application.pdb
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Contracts.dll
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Contracts.pdb
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Domain.dll
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Domain.pdb
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Infrastructure.dll
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Infrastructure.pdb
BankingSystem.Api/bin/Debug/net7.0/Newtonsoft.Json.Bson.dll
BankingSystem.Api/bin/Debug/net7.0/Newtonsoft.Json.dll
BankingSystem.Api/bin/Debug/net7.0/System.Net.Http.Formatting.dll
BankingSystem.Api/bin/Debug/net7.0/System.Web.Http.dll
BankingSystem.Api/obj/Debug/net7.0/BankingSystem.Api.dll
BankingSystem.Api/obj/Debug/net7.0/BankingSystem.Api.GeneratedMSBuildEditorConfig.editorconfig
BankingSystem.Api/obj/Debug/net7.0/BankingSystem.Api.MvcApplicationPartsAssemblyInfo.cs
BankingSystem.Api/obj/Debug/net7.0/BankingSystem.Api.pdb
BankingSystem.Api/obj/Debug/net7.0/project.razor.json
BankingSystem.Application/bin/Debug/net7.0/BankingSystem.Application.dll
BankingSystem.Application/bin/Debug/net7.0/BankingSystem.Application.pdb
BankingSystem.Application/obj/Debug/net7.0/BankingSystem.Application.pdb
BankingSystem.Application/bin/Debug/net7.0/BankingSystem.Domain.dll
BankingSystem.Application/bin/Debug/net7.0/BankingSystem.Domain.pdb
BankingSystem.Application/obj/BankingSystem.Application.csproj.nuget.dgspec.json
BankingSystem.Application/obj/project.assets.json
BankingSystem.Application/obj/project.nuget.cache
BankingSystem.Application/obj/Debug/net7.0/BankingSystem.Application.assets.cache
BankingSystem.Application/obj/Debug/net7.0/BankingSystem.Application.csproj.AssemblyReference.cache
BankingSystem.Application/obj/Debug/net7.0/BankingSystem.Application.dll
BankingSystem.Application/obj/Debug/net7.0/BankingSystem.Application.GeneratedMSBuildEditorConfig.editorconfig
BankingSystem.Application/bin/Debug/net7.0/BankingSystem.Application.dll
BankingSystem.Application/bin/Debug/net7.0/BankingSystem.Application.pdb
BankingSystem.Application/bin/Debug/net7.0/BankingSystem.Domain.dll
BankingSystem.Application/bin/Debug/net7.0/BankingSystem.Domain.pdb
BankingSystem.Api/obj/Debug/net7.0/BankingSystem.Api.assets.cache
BankingSystem.Api/obj/Debug/net7.0/BankingSystem.Api.csproj.AssemblyReference.cache
BankingSystem.Api/obj/Debug/net7.0/BankingSystem.Api.csproj.CoreCompileInputs.cache
BankingSystem.Api/obj/Debug/net7.0/BankingSystem.Api.csproj.FileListAbsolute.txt
BankingSystem.Api/obj/Debug/net7.0/BankingSystem.Api.dll
BankingSystem.Api/obj/Debug/net7.0/BankingSystem.Api.GeneratedMSBuildEditorConfig.editorconfig
BankingSystem.Api/obj/Debug/net7.0/BankingSystem.Api.MvcApplicationPartsAssemblyInfo.cs
BankingSystem.Api/obj/Debug/net7.0/BankingSystem.Api.pdb
BankingSystem.Application/bin/Debug/net7.0/BankingSystem.Application.dll
BankingSystem.Application/bin/Debug/net7.0/BankingSystem.Application.pdb
BankingSystem.Application/bin/Debug/net7.0/BankingSystem.Domain.dll
BankingSystem.Application/bin/Debug/net7.0/BankingSystem.Domain.pdb
BankingSystem.Infrastructure/obj/Debug/net7.0/BankingSystem.Infrastructure.assets.cache
BankingSystem.Infrastructure/obj/Debug/net7.0/BankingSystem.Infrastructure.csproj.AssemblyReference.cache
BankingSystem.Infrastructure/obj/Debug/net7.0/BankingSystem.Infrastructure.dll
BankingSystem.Infrastructure/obj/Debug/net7.0/BankingSystem.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
BankingSystem.Infrastructure/obj/Debug/net7.0/BankingSystem.Infrastructure.pdb
BankingSystem.Api/bin/Debug/net7.0/BankingSystem.Api.deps.json
BankingSystem.Api/obj/BankingSystem.Api.csproj.nuget.dgspec.json
BankingSystem.Api/obj/BankingSystem.Api.csproj.nuget.g.props
BankingSystem.Api/obj/BankingSystem.Api.csproj.nuget.g.targets
BankingSystem.Api/obj/project.assets.json
BankingSystem.Api/obj/project.nuget.cache
BankingSystem.Api/obj/Container/AbsoluteOutputAssemblyPath.cache
BankingSystem.Api/obj/Container/ContainerCreationResult.cache
BankingSystem.Api/obj/Container/ContainerDevelopmentMode.cache
BankingSystem.Api/obj/Container/ContainerOperatingSystemFlavor.cache
BankingSystem.Api/obj/Container/ImageBuildContext.cache
BankingSystem.Api/obj/Container/ImageId.cache
BankingSystem.Api/obj/Container/OperatingSystemName.cache
BankingSystem.Api/obj/Container/TargetFramework.cache
BankingSystem.Contracts/bin/Debug/net7.0/BankingSystem.Application.dll
BankingSystem.Contracts/bin/Debug/net7.0/BankingSystem.Application.pdb
BankingSystem.Contracts/bin/Debug/net7.0/BankingSystem.Contracts.dll
BankingSystem.Contracts/bin/Debug/net7.0/BankingSystem.Contracts.pdb
BankingSystem.Contracts/bin/Debug/net7.0/BankingSystem.Domain.dll
BankingSystem.Contracts/bin/Debug/net7.0/BankingSystem.Domain.pdb
BankingSystem.Contracts/obj/Debug/net7.0/BankingSystem.Contracts.csproj.AssemblyReference.cache
BankingSystem.Contracts/obj/Debug/net7.0/BankingSystem.Contracts.dll
BankingSystem.Contracts/obj/Debug/net7.0/BankingSystem.Contracts.pdb
BankingSystem.Domain/bin/Debug/net7.0/BankingSystem.Domain.dll
BankingSystem.Domain/bin/Debug/net7.0/BankingSystem.Domain.pdb
BankingSystem.Domain/obj/Debug/net7.0/BankingSystem.Domain.csproj.AssemblyReference.cache
BankingSystem.Domain/obj/Debug/net7.0/BankingSystem.Domain.dll
BankingSystem.Domain/obj/Debug/net7.0/BankingSystem.Domain.pdb
BankingSystem.Infrastructure/bin/Debug/net7.0/BankingSystem.Application.dll
BankingSystem.Infrastructure/bin/Debug/net7.0/BankingSystem.Application.pdb
BankingSystem.Infrastructure/bin/Debug/net7.0/BankingSystem.Domain.dll
BankingSystem.Infrastructure/bin/Debug/net7.0/BankingSystem.Domain.pdb
BankingSystem.Infrastructure/bin/Debug/net7.0/BankingSystem.Infrastructure.dll
BankingSystem.Infrastructure/bin/Debug/net7.0/BankingSystem.Infrastructure.pdb
